[user]
  name = Ty Bolt
  email = tybolt@gmail.com
  signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAINRedu/3yR5hajeW1l9FRqJqAMHaqkJqtd0Xk7LWpmUJ
[alias]
  co    = checkout
  ci    = commit
  log   = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
  pop   = stash pop
  dev   = checkout develop
  stg   = checkout staging
  mas   = checkout master
  sin   = push --force-with-lease
  satan = push --force
  undo = reset --soft HEAD^
[core]
  excludesfile = /Users/tbolt/.gitignore_global
[gpg]
  format = ssh
[gpg "ssh"]
  program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign
[commit]
  gpgsign = true
